<!DOCTYPE html>

<html lang="en">
<body>
<h1>hi</h1>
<h1>Hello {{ name }}!</h1>
<img id="croppr" style = "visibility:hidden"
     src="https://www.cesarsway.com/sites/newcesarsway/files/styles/large_article_preview/public/Natural-Dog-Law-2-To-dogs%2C-energy-is-everything.jpg?itok=Z-ujUOUr">


<!--<link src="/static/croppr/croppr.css" rel="stylesheet"/>-->
<!--<script src="/static/croppr/croppr.js">-->

<!--<link rel="stylesheet" href="{{ url_for('static', filename='croppr.css') }}">-->
<!--<link src="/static/croppr/croppr.css" rel="stylesheet"/>-->
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/croppr.css') }}">
<script src="/static/croppr/croppr.js"/>
<script></script>
<script>
console.log("HI");
    var croppr = new Croppr('#croppr', {
  // options
});

// Protip: You can also pass an Element object instead of a selector
var value = croppr.getValue();
console.log(value);

// data = {x: 20, y: 20: width: 120, height: 120}



</script>

</body>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
</html>