<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Face detection</title>
    <style>
* {
  box-sizing: border-box;
}

#myInput {
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow:hidden;
  overflow-y:scroll;
  height:300px;
}

#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}
<!--zooming-->
.zoom {
    padding: 50px;
    background-color: green;
    transition: transform .3s; /* Animation */
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}








    </style>

</head>
<body style="background-color:coral;">
<div style=" top:50px; width:90%;  height:500px; background-color:orange; position:reletiv;  margin-left:70px; margin-right:70px;">
    <div id="icondiv">

        <div class="image-upload" align="center" style="    margin-top: 50px;">

            <img class="zoom" src="/static/icons/magnifier.png" style="width:60px; height:60px; margin:10px;"
                 onclick='showAllPeople()'>

            <label for="file-input">
                <img class="zoom" src="/static/icons/gallery.png" style="width:70px; height:70px; margin:10px;"
                     onclick="hidegallery()"/>
            </label>

            <input id="file-input" type='file' accept='image/*' style="display: none;" onchange='openFile(event)'>

            <img class="zoom" src="/static/icons/camera.png" style="width:70px; height:70px; margin:10px;"
                 onclick='hidecamera()'>
        </div>
    </div>

    <div id="galleryholder" style=" background-color:green; margin-left:80px; width: 45%; height:50%;    position: absolute; left:10px; ">
        <img id="croppr"
             style=" background-color:transparent;      max-width:100%;     ">
    </div>

    <div id="cropholder" style=" background-color:yellow; margin-left:80px; width: 45%; height:50%;    position: absolute; left:10px; ">

    </div>

    <div id="cameraholder" style=" background-color:red; margin-left:80px; width: 45%; height:50%;    position: absolute; left:10px; ">
        <img id="cameraPhoto" style="width: 100%; height:100%; background-color:transparent;position: absolute; border-style: double;">
        <div id="cameraShow"
             style="width:160px; height:100px; background-color:transparent; position: absolute; margin-top:10px "></div>

        <a href="javascript:void(take_snapshot())" style="position: absolute; right:10px; bottom:10px"> <img class="zoom"
                                                                                     src="/static/icons/camera.png"
                                                                                     style="width:70px; height:70px; margin:10px;"></a>

    </div>

    <div id="search view" style=" background-color:blue; position: absolute; right:80px;     ">


        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">

        <!--<ul id="myUL">-->
        <!--<li><a href="#">Cindy</a></li>-->
        <!--</ul>-->
        <div id="allpeoplelist"></div>
<script>
function myFunction() {
    var input, filter, ul, li, a, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL");
    li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}










        </script>

    </div>
    <h1 style="position:absolute; bottom:100px; right:50%;">
        <img class="zoom" src="/static/icons/next.png" style="width:40px; height:40px;" onclick="detect()"/>
    </h1>


</div>
<div style="position:reletiv">

<div><h1 onclick="callCropper()" style="  position: absolute; vertical-align: bottom">send to being cropped</h1></div>
<!--<div><h1 onclick="detect()" style=" z-index: -22; vertical-align: bottom">send to detect</h1></div>-->

</div>

<script>
    function showAllPeople(){
<!--shows list of names in data base (get faces)-->
console.log("show all people")
var indexes;
$.get("/getmethodallpeople", function(data) {
    indexes = $.parseJSON(data)
    console.log(indexes)

$("#allpeoplelist").empty();
$("#allpeoplelist").append("<ul id='myUL'></ul>");
$("ul").empty();
for(var i in indexes) {
    var li = '<li onclick="showPerson(\'' + indexes[i]+ '\')"><a href="#">'+indexes[i]+'</a></li>';
    $("ul").append(li)
}

    });

}
<!--//////////////////////////////////////////////////////-->

    function hidegallery(){
    document.getElementById("galleryholder").style.visibility = "visible";
    document.getElementById("cameraholder").style.visibility = "hidden";
    document.getElementById("cropholder").style.visibility = "hidden";
}

    function hidecamera(){
    document.getElementById("galleryholder").style.visibility = "hidden";
    document.getElementById("cameraholder").style.visibility = "visible";
    document.getElementById("cropholder").style.visibility = "hidden";

}
<!--//////////////////////////////////////////////////////-->
<!--adding existing file:-->
  var openFile = function(file) {
    var input = file.target;

    var reader = new FileReader();
    reader.onload = function(){
      var dataURL = reader.result;
      var output = document.getElementById('croppr');
      output.src = dataURL;

       $.ajax({
    type: "POST",
    url: "{{ url_for("get_post_json") }}",
    contentType: "application/json",
    data: JSON.stringify({hello: "world", hi : dataURL}),
    dataType: "json",
    success: function(response) {
        console.log(response);
    },
    error: function(err) {
        console.log(err);
    }
});
    };
    reader.readAsDataURL(input.files[0]);
  };
<!--//////////////////////////////////////////////////////-->

    function showPerson(i){
    console.log("htisddfsdfdf", i);

var indexes;

$.get("/getOneFace/"+i, function(data) {
    indexes = $.parseJSON(data)
    console.log('this is result of one face data')
    console.log(indexes)

<!--$("#someonephoto").append("<ul></ul>");-->
<!--for(var i =0; i<indexes; i++) {-->
    <!--var li = '<li>';-->
    <!--console.log("eachphoto"+(i)+".png");-->
    <!--$("ul").append(li.concat('<img src="/home/maryam/PycharmProjects/facedetectionproject/templates/eachphoto'+ i +'.png" style="width:100px; height:100px;" >'))-->
<!--}-->

});

    }


<!--//////////////////////////////////////////////////////-->
 function detect(){

console.log("photo is being send to recognize")
var indexes;
$.get("/getmethodrecognize", function(data) {
    indexes = $.parseJSON(data)
    console.log(indexes)

<!--$("#recognizeList").append("<ul></ul>");-->
$("#allpeoplelist").empty();
$("#allpeoplelist").append("<ul id='myUL'></ul>");
$("ul").empty();
for(var i in indexes) {
    <!--var li = "<li>";-->
    var li = '<li ><a href="#">'+indexes[i]+'</a></li>';

    $("ul").append(li)
}

    });


}
<!--//////////////////////////////////////////////////////-->
<!--//////////////////////////////////////////////////////-->
<!--//////////////////////////////////////////////////////-->
<!--//////////////////////////////////////////////////////-->
<!--//////////////////////////////////////////////////////-->




</script>
<!--webcam access-->
<!--https://github.com/jhuckaby/webcamjs-->
<script src="/static/webcam/webcam.js"></script>
<script language="Javascript">

  function showCoords(c)
  {
        console.log( c.x, c.y, c.x2, c.y2, c.w, c.h);



var indexes = {
    x:   c.x.toString(),
    y: c.y.toString(),

    x2:   c.x2.toString(),
    y2: c.y2.toString(),
};




  $.ajax({
    type: "POST",
    url: "{{ url_for("get_post_json") }}",
    contentType: "application/json",
    data: JSON.stringify({hello: "world2", hi : indexes }),
    dataType: "json",
    success: function(response) {
        console.log(response);
    },
    error: function(err) {
        console.log(err);
    }
});




  };


</script>
<script language="JavaScript">
    Webcam.attach( '#cameraShow' );

    function take_snapshot() {
        Webcam.snap( function(data_uri) {
            document.getElementById('cameraPhoto').src= data_uri;


         $.ajax({
    type: "POST",
    url: "{{ url_for("get_post_json") }}",
    contentType: "application/json",
    data: JSON.stringify({hello: "world", hi : data_uri}),
    dataType: "json",
    success: function(response) {
        console.log(response);
    },
    error: function(err) {
        console.log(err);
    }
});
        } );
    }




</script>

<!--image cropper-->
<!--http://deepliquid.com/content/Jcrop_Manual.html#Getting_Started-->
<script src="/static/to/js/jquery.min.js"></script>
<script src="/static/to/js/jquery.Jcrop.min.js"></script>
<link rel="stylesheet" href="/static/to/css/jquery.Jcrop.css" type="text/css"/>
<script language="Javascript">
function callCropper(){
    document.getElementById("cropholder").style.visibility = "visible";

console.log("photo is being created")
var indexes;
$.get("/getmethodyy", function(data) {
    indexes = $.parseJSON(data)
    console.log(indexes[0])

    jQuery(function($) {
        <!--croppView-->
        $('#croppr').Jcrop({
            onSelect: showCoords,
            bgColor:     'black',
            bgOpacity:   .4,
            <!--setSelect:   [3,4,111,222],-->
            setSelect:   indexes[0],
        });
    });

})
}
</script>

<div id="recognizeList"></div>
<div id="someonephoto"></div>

</body>
</html>