<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Face detection</title>
    <style>
* {
  box-sizing: border-box;
}

#myInput {
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow:hidden;
  overflow-y:scroll;
  width:300px;
  max-height:400px;
}

#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: rgba(86,113,126, 0.4);
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}
<!--zooming-->
.zoom {
    padding: 50px;
    transition: transform .3s; /* Animation */
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}





.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #A9F9EF;
  border-right: 16px solid #56717E;
  border-left: 16px solid #84A0BF;
  border-bottom: 16px solid #B1D1BF;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  z-index:4;
     margin:0 auto;
    margin-top:250px;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}











    </style>
    <link rel="stylesheet" media="screen" href="static/netBackground/style.css">
    <script>
console.log("destory is being called");
    function destroy(){
    console.log("it's being destroy");
    document.getElementById('galleryholder').innerHTML='  <img class="zoom" src="/static/icons/delete.png"             style="width:30px; height:30px;   z-index:5;position: absolute; top:10px; right:10px;" onclick="destroy()">       <img id="nextface" class="zoom" src="/static/icons/nextface.png"            style="width:40px; height:30px;   z-index:9000;position: absolute; top:50px; right:10px; visibility: hidden;" onclick="nextface()">       <img id="backface" class="zoom" src="/static/icons/backface.png"            style="width:40px; height:30px;   z-index:2;position: absolute; top:80px; right:10px; visibility: hidden;" onclick="backface()">       <img id="croppr" style=" background-color:transparent;  max-height:100%; max-width:100%;  "    >    ';
    document.getElementById("camerataker").style.visibility = "hidden";
    document.getElementById("cameraShow").style.visibility = "hidden";

    document.getElementById("cropicon").style.visibility = "hidden";
    document.getElementById("detecticon").style.visibility = "hidden";
    document.getElementById("inserticon").style.visibility = "hidden";

    $("ul").empty();


    }








    </script>

</head>
<body style="background-color:transparent   ;  width: 100%;
  height: 100%;
  margin: 0px; ">

<div id="loadview"
     style="visibility:hidden; background: rgba(0, 0, 0, 0.7);  height:100vh; width:100%;  position: absolute; top: 0; bottom: 0; z-index:60000;">
    <img class="zoom" src="/static/icons/delete.png"
         style="width:30px; height:30px;   z-index:6;position: absolute; top:10px; right:10px;"
         onclick='document.getElementById("loadview").style.visibility = "hidden";'>

    <div class="loader"></div>

</div>

<div id="particles-js"
     style=" background: rgba(106,123,146, 1);  height:100vh; width:100%;  position: absolute; top: 0; bottom: 0; z-index:-2;">
</div>

<div style=" top:50px; width:1100px;  height:600px; background-color:rgba(169,249,239 ,0.7); position:reletiv;  margin-left:70px; margin-right:70px;">
    <div id="icondiv">

        <div class="image-upload" align="center" style="    margin-top: 50px;">

            <img class="zoom" src="/static/icons/magnifier.png" style="width:60px; height:60px; margin:10px;"
                 onclick='showAllPeople()'>

            <label for="file-input">
                <img class="zoom" src="/static/icons/gallery.png" style="width:70px; height:70px; margin:10px;"
                     onclick="hidegallery()"/>
            </label>

            <input id="file-input" type='file' accept='image/*' style="display: none;" onchange='openFile(event)'>

            <img id="show" class="zoom js-open" src="/static/icons/camera.png"
                 style="width:70px; height:70px; margin:10px;"
                 onclick='hidecamera();'>
        </div>
    </div>


    <div id="galleryholder"
         style=" background-color: rgba(86,113,126, 0.5); margin-left:80px; width: 650px; height:450px;    position: absolute; left:10px; ">

        <img class="zoom" src="/static/icons/delete.png"

             style="width:30px; height:30px;   z-index:5;position: absolute; top:10px; right:10px;" onclick="destroy()">
        <img id="nextface" class="zoom" src="/static/icons/nextface.png"
             style="width:40px; height:30px;   z-index:9000;position: absolute; top:50px; right10px; visibility: hidden;"
             onclick="nextface()">
        <img id="backface" class="zoom" src="/static/icons/backface.png"
             style="width:40px; height:30px;   z-index:2;position: absolute; top:80px; right:10px; visibility: hidden;"
             onclick="backface()">
        <img id="croppr" style=" background-color:transparent;  max-height:100%; max-width:100%;  "
             onload="console.log('im loading');">
    </div>

    <div id="search view" style=" background-color:rgba(255,211,181,,0.7); position: absolute; right:180px;     ">


        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">

        <!--<ul id="myUL">-->
        <!--<li><a href="#">Cindy</a></li>-->
        <!--</ul>-->
        <div id="allpeoplelist"></div>

        <div aria-orientation="horizontal" id="inputnamediv" style="visibility:hidden">
            <input type="text" id="inputname" onkeyup="" placeholder="enter face name..."
                   title="Type in a name">
            <button onclick="callInserter();">insert</button>

        </div>
        <script>
function myFunction() {
    var input, filter, ul, li, a, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL");
    li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}













        </script>

    </div>

    <div id="detecticon" class="zoom"
         style="   visibility:hidden;   margin-top: 450px; margin-left:300px; bottom:0px; padding:10px; width:105px;"
         onclick="detect()">
        <img src="/static/icons/next.png" style="width:40px; height:40px;"/>
        <img src="/static/icons/detect.png" style="width:40px; height:40px;"/>
    </div>

    <div id="cropicon" class="zoom"
         style=" visibility:hidden;     margin-top: -63px; margin-left:300px; bottom:0px; padding:10px; width:105px;"
         onclick="callCropper()">
        <img src="/static/icons/next.png" style="width:40px; height:40px;"/>
        <img src="/static/icons/crop.png" style="width:40px; height:40px;"/>
    </div>

    <div id="inserticon" class="zoom"
         style=" visibility:hidden;   margin-top: -63px; margin-left:400px; bottom:0px; padding:10px; width:105px;"
         onclick="    document.getElementById('inputnamediv').style.visibility = 'visible';
                        document.getElementById('search view').style.visibility = 'hidden';">
        <img src="/static/icons/next.png" style="width:40px; height:40px;"/>
        <img src="/static/icons/database.png" style="width:40px; height:40px;"/>
    </div>

</div>


</div>
<script>


</script>
<script>
    function showAllPeople(){
        document.getElementById("loadview").style.visibility = "visible";
        document.getElementById("inputnamediv").style.visibility = "hidden";
        document.getElementById('search view').style.visibility = 'visible';


<!--shows list of names in data base (get faces)-->
console.log("show all people")
var indexes;
$.get("/getmethodallpeople", function(data) {
    document.getElementById("loadview").style.visibility = "hidden";

    indexes = $.parseJSON(data)
    console.log(indexes)

$("#allpeoplelist").empty();
$("#allpeoplelist").append("<ul id='myUL'></ul>");
$("ul").empty();
for(var i in indexes) {
    var li = '<li onclick="showPerson(\'' + indexes[i]+ '\')"><a href="#">'+indexes[i]+'</a></li>';
    $("ul").append(li)
}

    });

}
<!--//////////////////////////////////////////////////////-->


<!--//////////////////////////////////////////////////////-->

    function hidegallery(){
    destroy();
    document.getElementById("camerataker").style.visibility = "hidden";
    document.getElementById("cameraShow").style.visibility = "hidden";
}

    function hidecamera(){
    destroy();
    document.getElementById("camerataker").style.visibility = "visible";
    document.getElementById("cameraShow").style.visibility = "visible";

}
<!--//////////////////////////////////////////////////////-->
<!--adding existing file:-->
  var openFile = function(file) {
    var input = file.target;

    var reader = new FileReader();
    reader.onload = function(){
      var dataURL = reader.result;
      var output = document.getElementById('croppr');
      output.src = dataURL;
          document.getElementById("cropicon").style.visibility = "visible";


       $.ajax({
    type: "POST",
    url: "{{ url_for("get_post_json") }}",
    contentType: "application/json",
    data: JSON.stringify({hello: "world", hi : dataURL}),
    dataType: "json",
    success: function(response) {
        console.log(response);
    },
    error: function(err) {
        console.log(err);
    }
});
    };
    reader.readAsDataURL(input.files[0]);
  };
<!--//////////////////////////////////////////////////////-->

    function showPerson(i){
    console.log("person's name is: ", i);
    document.getElementById("loadview").style.visibility = "visible";

var indexes;

$.get("/getOneFace/"+i, function(data) {
    document.getElementById("loadview").style.visibility = "hidden";

    indexes = $.parseJSON(data)
    console.log('this is result of one face data')
    console.log(indexes)
$("#allpeoplelist").empty();
$("#allpeoplelist").append("<ul id='myUL'></ul>");
for(var i =0; i<indexes; i++) {
    var li = '<li>';
    console.log("eachphoto"+(i)+".png");
    $("ul").append(li.concat('<img src="static/eachphoto/eachphoto'+ i +'.png" style="width:100px; height:100px;" >'))
}

});

    }


<!--//////////////////////////////////////////////////////-->
 function detect(){
    document.getElementById("loadview").style.visibility = "visible";

console.log("photo is being send to recognize")
var indexes;
$.get("/getmethodrecognize", function(data) {
    indexes = $.parseJSON(data)
    console.log(indexes)
        <!--document.getElementById("detecticon").style.visibility = "hidden";-->
    document.getElementById("loadview").style.visibility = "hidden";


$("#allpeoplelist").empty();
$("#allpeoplelist").append("<ul id='myUL'></ul>");
$("ul").empty();
for(var i in indexes) {
    var li = '<li ><a href="#">'+indexes[i]+'</a></li>';

    $("ul").append(li)
}

    });


}
<!--//////////////////////////////////////////////////////-->
<!--//////////////////////////////////////////////////////-->
<!--//////////////////////////////////////////////////////-->
<!--//////////////////////////////////////////////////////-->
<!--//////////////////////////////////////////////////////-->













</script>
<!--webcam access-->
<!--https://github.com/jhuckaby/webcamjs-->
<script src="/static/webcam/webcam.js"></script>
<script language="JavaScript">
function opencamera(){

    Webcam.attach( '#cameraShow' );


}

 function take_snapshot() {
        Webcam.snap( function(data_uri) {
            document.getElementById('croppr').src= data_uri;
            document.getElementById('cameraPhoto').src= data_uri;
            document.getElementById("cropicon").style.visibility = "visible";



         $.ajax({
    type: "POST",
    url: "{{ url_for("get_post_json") }}",
    contentType: "application/json",
    data: JSON.stringify({hello: "world", hi : data_uri}),
    dataType: "json",
    success: function(response) {
        console.log(response);
    },
    error: function(err) {
        console.log(err);
    }
});
        } );
    }






</script>
<script language="Javascript">

  function showCoords(c)
  {
        console.log( c.x, c.y, c.x2, c.y2, c.w, c.h);



var indexes = {
    x:   c.x.toString(),
    y: c.y.toString(),

    x2:   c.x2.toString(),
    y2: c.y2.toString(),
};




  $.ajax({
    type: "POST",
    url: "{{ url_for("get_post_json") }}",
    contentType: "application/json",
    data: JSON.stringify({hello: "world2", hi : indexes }),
    dataType: "json",
    success: function(response) {
        console.log(response);
    },
    error: function(err) {
        console.log(err);
    }
});




  };











</script>

<!--image cropper-->
<!--http://deepliquid.com/content/Jcrop_Manual.html#Getting_Started-->
<script src="/static/to/js/jquery.min.js"></script>
<script src="/static/to/js/jquery.Jcrop.min.js"></script>
<link rel="stylesheet" href="/static/to/css/jquery.Jcrop.css" type="text/css"/>
<script language="Javascript">
var facecounter = 0;
var facelen= 0;
var indexes;

function callCropper(){
    document.getElementById("loadview").style.visibility = "visible";


console.log("photo is being created")
$.get("/getmethodyy", function(data) {
    indexes = $.parseJSON(data)
    console.log("this is indexes:", indexes)
    document.getElementById("cropicon").style.visibility = "hidden";
    document.getElementById("detecticon").style.visibility = "visible";
    document.getElementById("inserticon").style.visibility = "visible";
    document.getElementById("loadview").style.visibility = "hidden";
    facecounter = 0;
    facelen = indexes.length;
    console.log(facelen);

    if( facelen>1){
    console.log('im going to show next and back');
    document.getElementById("nextface").style.visibility = "visible";

    }

    jQuery(function($) {
        <!--croppView-->
        $('#croppr').Jcrop({
            onSelect: showCoords,
            bgColor:     'black',
            bgOpacity:   .4,
            <!--setSelect:   [3,4,111,222],-->
            setSelect:   indexes[0],
        });
    });

})
}

 function nextface(){
 facecounter += 1;
 console.log("this is facecounter",facecounter)

 if(facecounter<facelen && facelen!=1){
  document.getElementById("backface").style.visibility = "visible";

  jQuery(function($) {
        <!--croppView-->
        $('#croppr').Jcrop({
            onSelect: showCoords,
            bgColor:     'black',
            bgOpacity:   .4,
            setSelect:   indexes[facecounter],
        });
    });

 }
 if(facecounter==facelen-1){
  document.getElementById("nextface").style.visibility = "hidden";
 }

 }
 function backface(){
  facecounter -= 1;
 console.log("this is facecounter",facecounter)

 if(facecounter>-1){
  document.getElementById("nextface").style.visibility = "visible";

  jQuery(function($) {
        <!--croppView-->
        $('#croppr').Jcrop({
            onSelect: showCoords,
            bgColor:     'black',
            bgOpacity:   .4,
            setSelect:   indexes[facecounter],
        });
    });

 }
 if(facecounter==0){
  document.getElementById("backface").style.visibility = "hidden";
 }
}








</script>
<script>
    function callInserter(){
        document.getElementById("loadview").style.visibility = "visible";

    var insertname = document.getElementById("inputname").value;
    console.log("input name is :", insertname)

         $.ajax({
    type: "POST",
    url: "{{ url_for("get_post_json") }}",
    contentType: "application/json",
    data: JSON.stringify({hello: "insertname", hi : insertname }),
    dataType: "json",
    success: function(response) {
        console.log(response);
            document.getElementById("cropicon").style.visibility = "hidden";
    document.getElementById("detecticon").style.visibility = "visible";
    document.getElementById("inserticon").style.visibility = "visible";
    document.getElementById("loadview").style.visibility = "hidden";

    },
    error: function(err) {
        console.log(err);
    }
});



    }




</script>

<dialog class="dialog js-dialog" style=" width: 606px; height:456px;  padding:0px;    ">
    <div id="cameraholder"
         style=" background-color:rgba(FF,D3,B5, 0.7);  width: 600px; height:450px; position:relativ; ">
        <img class="zoom js-close" src="/static/icons/delete.png"
             style="width:30px; height:30px;   z-index:2;position: absolute; top:10px; right:10px;">

        <img id="cameraPhoto"
             style="width: 200px; height:150px; background-color:transparent;  position:absolute; z-index:2; margin:5px;">
        <div id="cameraShow"
             style="width:600px; height:450px; background-color:rgba(169,249,239 ,0.7); position:absolute;"></div>

        <a id="camerataker" href="javascript:void(take_snapshot())"
           style="position: absolute; right:10px; bottom:10px;z-index:2;">
            <img class="zoom" src="/static/icons/camera.png" style="width:70px; height:70px; margin:10px;"></a>

    </div>

</dialog>

<script>
  const dialog = document.querySelector('.js-dialog')
  const openButton = document.querySelector('.js-open')
  const closeButton = document.querySelector('.js-close')

  openButton.addEventListener('click', () => {
  dialog.showModal();
    opencamera();

})

closeButton.addEventListener('click', () => {
  dialog.close();
})




</script>


<!-- scripts for net background :) -->
<script src="static/netBackground/particles.js"></script>
<script src="static/netBackground/app.js"></script>
</body>
</html>