<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>


<div align="center" aria-orientation="horizontal">

</div>


<div align="center" style="width:640px; height:400px; position: relative;">
    <div id="imageview" align="center"
         style="width:640px; height:400px; background:#FF9900;   position: absolute;">
        <div id="cameraShow" style="width:160px; height:100px; background-color:transparent; position: absolute;"></div>

    </div>
    <div id="imageview2" align="center" style="width:640px; height:400px; background:#FF9938;   position: absolute; ">
        <img id="croppr" align="center"
             style=" background:#00FF99AA; ">
    </div>
    <div id="croppView" align="center"
         style="width:640px; height:400px; position: absolute; visibility:hidden;   background-color:transparent;
            z-index: -1"></div>

</div>


<script></script>
<script></script>




<script>function showSomeonePhotos(){
}

</script>



</body>
</html>

