<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>پردازش تصویر</title>

    <!--icon:-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <!--steps:-->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->


    <!-- Custom styles for this template -->
    <style>
* {
  box-sizing: border-box;
    font-family: "irannastaligh";
            font-size: 20px;

}

        @font-face {
        font-family: "irannastaligh";
        src: url(/static/IranNastaliq-Web.ttf);
}
body{
 background: rgb(41, 54, 61);  }

#myInput {
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow:hidden;
  overflow-y:scroll;
  width:300px;
  max-height:370px;
}

#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: rgba(86,113,126, 0.4);
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}
<!--zooming-->
.zoom {
    padding: 50px;
    transition: transform .3s; /* Animation */
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}





.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #A9F9EF;
  border-right: 16px solid #56717E;
  border-left: 16px solid #84A0BF;
  border-bottom: 16px solid #B1D1BF;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  z-index:4;
     margin:0 auto;
    margin-top:250px;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

<!--steps:-->
.bs-wizard {margin-top: 40px;}

/*Form Wizard*/
.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background:#fbe8aa ; ; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #fbbd19; border-radius: 50px; position: absolute; top: 8px; left: 8px; }
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #fbe8aa;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
/*END Form Wizard*/































    </style>

</head>
<body>
<div id="particles-js"
     style=" background: 	rgb(41, 54, 61);  height:100vh; width:100%;  position: absolute; top: 0; bottom: 0; z-index:0;">
</div>
<!-- scripts for net background :) -->
<script src="static/netBackground/particles.js"></script>
<script src="static/netBackground/app.js"></script>


<!-- Navigation -->


<nav class="navbar navbar-expand-lg navbar-dark py-lg-2 " id="mainNav"
     style="background-color:rgba(255, 255, 255,0.8); margin-top:30px;">
    <div class="container ">
        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse w3-display-middle" id="navbarResponsive">
            <ul class="navbar-nav mx-auto" dir="rtl">
                <li class="nav-item  px-lg-4 active">
                    <a class="nav-link text-uppercase text-expanded" onmouseover="this.style.color='#6c757d';"
                       onmouseout="this.style.color='black';" style="color:black;    " href="index">خانه

                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item  px-lg-4">
                    <a class="nav-link text-uppercase text-expanded" onmouseover="this.style.color='#6c757d';"
                       onmouseout="this.style.color='black';" style="color:black;  " href="detect">پردازش
                        چهره</a>
                </li>
                <li class="nav-item px-lg-4">
                    <a class="nav-link text-uppercase text-expanded" onmouseover="this.style.color='#6c757d';"
                       onmouseout="this.style.color='black';" style="color:black;    "
                       href="products">معرفی محصول</a>
                </li>
                <li class="nav-item px-lg-4">
                    <a class="nav-link text-uppercase text-expanded" onmouseover="this.style.color='#6c757d';"
                       onmouseout="this.style.color='black';" style="color:black;   " href="about">درباره
                        ما</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
<br>
<nav class="navbar navbar-expand-lg navbar-dark py-lg-2 w3-display-middle" id="mainNav2"
     style="background-color:rgba(44,66,77,0.4); margin-top:-15px;">
    <div class="container ">
        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse w3-display-middle" id="">
            <ul class="navbar-nav mx-auto" dir="rtl">
                <li class="nav-item  px-lg-4" id="searchstep">
                    <a class="nav-link text-uppercase text-expanded " onclick='showAllPeople()'>جست و جو
                        <span class="sr-only ">(current)</span>
                    </a>
                </li>
                <li class="nav-item active px-lg-4" id="detectstep">
                    <a class="nav-link text-uppercase text-expanded" onclick="detectview();">پردازش چهره</a>
                </li>
                <li class="nav-item px-lg-4" id="insertstep">
                    <a class="nav-link text-uppercase text-expanded" onclick="insertview();">افزودن چهره</a>

            </ul>
        </div>
    </div>
</nav>


<div id="step2div" style="position: absolute;  visibility: hidden; ">


    <div id="inserticon" class="zoom"
         style="    "
         onclick="    document.getElementById('inputnamediv').style.visibility = 'visible';
                        document.getElementById('search view').style.visibility = 'hidden';  document.getElementById('myInput').style.visibility = 'hidden'; ">
        <img src="/static/icons/next.png" style="width:40px; height:40px;"/>
        <img src="/static/icons/database.png" style="width:40px; height:40px;"/>
        <p>اضافه کردن به دیتابیس</p>
    </div>

</div>
</div>


<div id="loadview"
     style="visibility:hidden; background: rgba(0, 0, 0, 0.7);  height:100vh; width:100%;  position: absolute; top: 0; bottom: 0; z-index:60000;">
    <img class="zoom" src="/static/icons/delete.png"
         style="width:30px; height:30px;   z-index:6;position: absolute; top:10px; right:10px;"
         onclick='document.getElementById("loadview").style.visibility = "hidden";'>

    <div class="loader"></div>

</div>


<div class="py-lg-2  w3-display-topmiddle"
     style="visibility:visible; width:1100px;  height:500px;  margin-top:130px; background-color:rgba(219,299,289 ,0.7); ">

    <!--steps:-->
    <div class="container w3-display-topright" id="steps"
         style="width:400px; height:30px; margin-right:-90px; padding:0px; margin-top:20px;">


        <div class="row bs-wizard" style="border-bottom:0;">


            <div class="col-xs-3 bs-wizard-step complete" id="step1">
                <div class="text-center bs-wizard-stepnum">انتخاب تصویر</div>
                <div class="progress">
                    <div class="progress-bar"></div>
                </div>
                <a href="#" class="bs-wizard-dot"></a>

                <div class="bs-wizard-info text-center">از طریق وب کم یا فایل های موجود یک عکس اضافه کنید</div>
            </div>

            <div class="col-xs-3 bs-wizard-step disabled" id="step2"><!-- complete -->
                <div class="text-center bs-wizard-stepnum">برش تصویر</div>
                <div class="progress">
                    <div class="progress-bar"></div>
                </div>
                <a href="#" class="bs-wizard-dot"></a>
                <div class="bs-wizard-info text-center"> محل چهره در تصویر را انتخاب و ارسال کنید</div>
            </div>

            <div class="col-xs-3 bs-wizard-step disabled" id="step3"><!-- complete -->
                <div class="text-center bs-wizard-stepnum">نتیجه</div>
                <div class="progress">
                    <div class="progress-bar"></div>
                </div>
                <a href="#" class="bs-wizard-dot"></a>
                <div class="bs-wizard-info text-center"></div>
            </div>


        </div>


    </div>
    <!--steps:-->
    <div class="container w3-display-topright" id="steps2"
         style=" visibility:hidden; width:400px; height:30px; margin-right:-90px; padding:0px; margin-top:20px;">


        <div class="row bs-wizard" style="border-bottom:0;">


            <div class="col-xs-3 bs-wizard-step complete" id="step1">
                <div class="text-center bs-wizard-stepnum">انتخاب تصویر</div>
                <div class="progress">
                    <div class="progress-bar"></div>
                </div>
                <a href="#" class="bs-wizard-dot"></a>

                <div class="bs-wizard-info text-center">از طریق وب کم یا فایل های موجود یک عکس اضافه کنید</div>
            </div>

            <div class="col-xs-3 bs-wizard-step disabled" id="step2"><!-- complete -->
                <div class="text-center bs-wizard-stepnum">برش تصویر</div>
                <div class="progress">
                    <div class="progress-bar"></div>
                </div>
                <a href="#" class="bs-wizard-dot"></a>
                <div class="bs-wizard-info text-center">یک نام جهت ثبت در دیتابیس وارد و ارسال کنید</div>
            </div>

            <div class="col-xs-3 bs-wizard-step disabled" id="step3"><!-- complete -->
                <div class="text-center bs-wizard-stepnum">نتیجه</div>
                <div class="progress">
                    <div class="progress-bar"></div>
                </div>
                <a href="#" class="bs-wizard-dot"></a>
                <div class="bs-wizard-info text-center">\</div>
            </div>


        </div>


    </div>


    <div class="   w3-display-right" id="detecticons" style=" margin-right:50px;">

        <label for="file-input">
            <div class="   w3-display-right" style=" visibility:;"
                 onclick="hidegallery()">
                <div class="w3-round-large w3-button w3-white"
                     style="  width:300px ;padding-top:20px; margin-bottom:100px; ">
                    <p class="" style=" display:inline; font-size:24px; font-weight:normal;  "> افزودن فایل موجود</p>
                    <!--<img src="/static/icons/gallery.png" style=" display:inline;width:30px; height:30px;"/>-->

                </div>
            </div>
        </label>

        <input id="file-input" type='file' accept='image/*' style="display: none;" onchange='openFile(event)'>

        <div class=" js-open  w3-display-right" style=" margin-top:60px; visibility:;"
             onclick="hidecamera();">
            <div class="w3-round-large w3-button w3-white"
                 style="  width:300px ; padding-top:20px;  margin-bottom:70px;">
                <p class="" style=" display:inline; font-size:24px; "> افزودن عکس از دوربین</p>
                <!--<img src="/static/icons/camera.png"  style=" display:inline;width:30px; height:30px;"/>-->

            </div>
        </div>

        <div class="   w3-display-right" id="detectstep1" style=" margin-top:120px; visibility:hidden;"
             onclick="detect();">
            <div class="w3-round-large w3-button w3-white"
                 style=" width:300px ; padding-top:20px; margin-bottom:40px;  ">
                <p class="" style=" display:inline; font-size:24px; ">برش تصویر</p>
                <!--<img src="/static/icons/crop.png"  style=" display:inline;width:30px; height:30px;"/>-->

            </div>
        </div>


    </div>


    <div class="   w3-display-right" id="detecticonsbtn"
         style="margin-right:50px; font-size:24px;  visibility:hidden;">
        <div class="w3-round-large w3-button w3-white"
             style="  width:300px ; padding-top:20px;  margin-bottom:60px;"
             onclick="detect()">
            <img src="/static/icons/detect.png" style=" display:inline;width:40px; height:40px;"/>
            <p style="display:inline; font-size:24px; "> جست و جو</p>
        </div>
    </div>
    <div class="   w3-display-right" id="startagain" style="margin-right:100px; visibility:hidden;"
         onclick="detectview(); startagain();">
        <div class="w3-round-large w3-button w3-white"
             style=" padding:5px; ">
            <p class="fa fa-refresh" style=" display:inline; font-size:24px; "> شروع دوباره</p>

        </div>
    </div>

    <div id="galleryholder" class="w3-container w3-card"
         style=" background-color: rgba(255,255,255, 0.5); margin-left:30px; margin-top:20px; width: 650px; height:450px;    position: absolute; left:10px; ">
        <!--rgba(86,113,126, 0.5)-->
        <img id="deleteimg" class="zoom" src="/static/icons/delete.png"

             style="width:30px; height:30px;   z-index:5;position: absolute; top:10px; right:10px;" onclick="destroy()">
        <img id="nextface" class="zoom" src="/static/icons/nextface.png"
             style="width:40px; height:30px;   z-index:9000;position: absolute; top:50px; right10px; visibility: hidden;"
             onclick="nextface()">
        <img id="backface" class="zoom" src="/static/icons/backface.png"
             style="width:40px; height:30px;   z-index:2;position: absolute; top:80px; right:10px; visibility: hidden;"
             onclick="backface()">
        <img id="croppr" style=" background-color:transparent;  max-height:100%; max-width:100%;  "
             onload="console.log('im loading');">
    </div>
    <div id="search view" class="w3-container w3-card"
         style=" background-color:rgba(255,211,181,,0.7); width:330px; height:450px; margin-left:30px; margin-top:20px;  position: absolute; left:10px; visibility:hidden;">


        <input type="text" id="myInput" onkeyup="myFunction()" style="margin-top:10px;"
               placeholder="نام مورد نظر را جست و جو کنید"
               title="Type in a name">

        <!--<ul id="myUL">-->
        <!--<li><a href="#">Cindy</a></li>-->
        <!--</ul>-->
        <div id="allpeoplelist"></div>

        <div aria-orientation="horizontal" id="inputnamediv" style="visibility:hidden">
            <input type="text" id="inputname" onkeyup="" placeholder="enter face name..."
                   title="Type in a name">
            <button onclick="callInserter();">insert</button>

        </div>
        <script>



<!--function myFunction() {-->
<!--console.log("myfuncion");-->
    <!--var input, filter, ul, li, a, i;-->
    <!--input = document.getElementById("myInput");-->
    <!--filter = input.value.toUpperCase();-->
    <!--ul = document.getElementById("#myUL");-->
    <!--console.log(ul);-->
    <!--li = ul.getElementsByTagName("li");-->
    <!--for (i = 0; i < li.length; i++) {-->
        <!--a = li[i].getElementsByTagName("a")[0];-->
        <!--if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {-->
            <!--li[i].style.display = "";-->
        <!--} else {-->
            <!--li[i].style.display = "none";-->
        <!--}-->
    <!--}-->
<!--}-->
function myFunction() {
    var input, filter, ul, li, a, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL");
    li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}





















        </script>

    </div>
    <div style="margin-left:400px; margin-top:50px; backgorund:red; visibility:hidden;" id="userimagediv">
        <!--<img style="max-width:370px; min-width:300px;" src="/static/userimage.jpg">-->
    </div>


</div>

<dialog class="dialog js-dialog " style=" width: 600px; height:450px; backtound-color:black; padding:0px;    ">
    <div id="cameraholder"
         style=" background-color:black;  width: 100%; height:100%; position:relativ; ">
        <img class="zoom js-close" src="/static/icons/delete.png"
             style="width:20px; height:20px;   z-index:2;position: absolute; top:10px; right:10px;">

        <img id="cameraPhoto" class="w3-card"
             style="width: 200px; height:150px; display:none; background-color:transparent;  position:absolute; z-index:2; margin:5px;">
        <div id="cameraShow"
             style="width:100%; height:100%; background-color:black; position:absolute;"></div>

        <a id="camerataker" href="javascript:void(take_snapshot())"
           style="position: absolute; right:10px; bottom:10px;z-index:2;">
            <img class="zoom" src="/static/icons/camera.png" style="width:70px; height:70px; margin:10px;"></a>

    </div>

</dialog>


<!--/////////////////////////////////////////////////////////////-->
<!--scripts:-->
<script>
console.log("destory is being called");
    function destroy(){
    console.log("it's being destroy");
    document.getElementById('galleryholder').innerHTML='  <img class="zoom" src="/static/icons/delete.png"             style="width:30px; height:30px;   z-index:5;position: absolute; top:10px; right:10px;" onclick="destroy()">       <img id="nextface" class="zoom" src="/static/icons/nextface.png"            style="width:40px; height:30px;   z-index:9000;position: absolute; top:50px; right:10px; visibility: hidden;" onclick="nextface()">       <img id="backface" class="zoom" src="/static/icons/backface.png"            style="width:40px; height:30px;   z-index:2;position: absolute; top:80px; right:10px; visibility: hidden;" onclick="backface()">       <img id="croppr" style=" background-color:transparent;  max-height:100%; max-width:100%;  "    >    ';
    document.getElementById("camerataker").style.visibility = "hidden";
    document.getElementById("cameraShow").style.visibility = "hidden";

    document.getElementById("inserticon").style.visibility = "hidden";
    document.getElementById("step2div").style.visibility = "hidden";

    $("#myUL").empty();


    }























</script>

<script>
    function showAllPeople(){
        document.getElementById("myInput").style.display= "block";
        document.getElementById("myInput").style.visibility = "visible";
        document.getElementById("loadview").style.visibility = "visible";
        document.getElementById("inputnamediv").style.visibility = "hidden";
        document.getElementById('search view').style.visibility = 'visible';
        document.getElementById('galleryholder').style.visibility = 'hidden';
        document.getElementById('steps').style.visibility = 'hidden';
        document.getElementById('steps2').style.visibility = 'hidden';
        document.getElementById('detecticons').style.visibility = 'hidden';
        document.getElementById('startagain').style.visibility = 'hidden';
        document.getElementById('userimagediv').style.visibility = 'hidden';
        document.getElementById('detectstep1').style.visibility = 'hidden';

        document.getElementById("searchstep").classList.add('active');
    document.getElementById("detectstep").classList.remove('active');
    document.getElementById("insertstep").classList.remove('active');




<!--shows list of names in data base (get faces)-->
console.log("show all people")
var indexes;
$.get("/getmethodallpeople", function(data) {
    document.getElementById("loadview").style.visibility = "hidden";

    indexes = $.parseJSON(data)
    console.log(indexes)

$("#allpeoplelist").empty();
$("#allpeoplelist").append("<ul id='myUL'></ul>");
$("#myUL").empty();
for(var i in indexes) {
    var li = '<li  class="searchli" onclick="showPerson(\'' + indexes[i]+ '\')"><a href="#">'+indexes[i]+'</a></li>';
    $("#myUL").append(li)
}

    });

}
<!--//////////////////////////////////////////////////////-->


<!--//////////////////////////////////////////////////////-->

    function hidegallery(){
    destroy();
    document.getElementById("camerataker").style.visibility = "hidden";
    document.getElementById("cameraShow").style.visibility = "hidden";
    document.getElementById("search view").style.visibility = "hidden";
     document.getElementById('myInput').style.visibility = 'hidden';
    document.getElementById("galleryholder").style.visibility = "visible";
}

    function hidecamera(){
    destroy();
    document.getElementById("camerataker").style.visibility = "visible";
    document.getElementById("cameraShow").style.visibility = "visible";
    document.getElementById("search view").style.visibility = "hidden";
     document.getElementById('myInput').style.visibility = 'hidden';
    document.getElementById("galleryholder").style.visibility = "visible";


}
<!--//////////////////////////////////////////////////////-->
<!--adding existing file:-->
  var openFile = function(file) {
    var input = file.target;

    document.getElementById("detectstep1").style.visibility = "visible";


    var reader = new FileReader();
    reader.onload = function(){
      var dataURL = reader.result;
      var output = document.getElementById('croppr');
      output.src = dataURL;


       $.ajax({
    type: "POST",
    url: "{{ url_for("get_post_json") }}",
    contentType: "application/json",
    data: JSON.stringify({hello: "world", hi : dataURL}),
    dataType: "json",
    success: function(response) {
        console.log(response);
                callCropper();

    },
    error: function(err) {
        console.log(err);
    }
});
    };
    reader.readAsDataURL(input.files[0]);
  };
<!--//////////////////////////////////////////////////////-->

    function showPerson(i){
    console.log("person's name is: ", i);
    document.getElementById("loadview").style.visibility = "visible";

var indexes;

$.get("/getOneFace/"+i, function(data) {
    document.getElementById("loadview").style.visibility = "hidden";

    indexes = $.parseJSON(data)
    console.log('this is result of one face data')
    console.log(indexes.length)
    console.log(indexes)
$("#allpeoplelist").empty();

$("#myUL").empty();
$(".searchli").empty();

$("#allpeoplelist").append("<ul id='myUL'></ul>");

for(var i =0; i<indexes.length; i++) {
    console.log(indexes[i]);
    var li = '<li  class="searchli" >';
    console.log("eachphoto"+(i)+".png");
    <!--$("#myUL").append(li.concat('<img src="static/eachphoto/eachphoto'+ i +'.png" style="width:100px; height:100px;" >'));-->

    <!--$("#myUL").append('<li class="searchli"><img src="static/eachphoto/eachphoto'+ i +'.png" style="width:100px; height:100px;  background-image: url("static/eachphoto/eachphoto'+ i +'.png" ) !important;" ></li>');-->
    $("#myUL").append('<li class="searchli"><img src="static/eachphoto/'+ indexes[i] +'.png" style="width:100px; height:100px; ;" ></li>');

}

});

    }


<!--//////////////////////////////////////////////////////-->
 function detect(){
    document.getElementById("loadview").style.visibility = "visible";

console.log("photo is being send to recognize")
var indexes;
$.get("/getmethodrecognize", function(data) {

    var response = $.parseJSON(data);
    indexes = response["recog"];

    console.log(indexes,"\n this is indexes")
    document.getElementById("loadview").style.visibility = "hidden";
    document.getElementById("search view").style.visibility = "visible";
    document.getElementById("userimagediv").style.visibility = "visible";
    document.getElementById("startagain").style.visibility = "visible";
    document.getElementById("galleryholder").style.visibility = "hidden";
    document.getElementById("detecticonsbtn").style.visibility = "hidden";
    document.getElementById("croppr").style.visibility = "hidden";

    document.getElementById("step3").classList.add('complete');
    document.getElementById("step3").classList.remove('disabled');

    console.log(response["userimagename"]);
    document.getElementById('userimagediv').innerHTML='  <img  src="/static/'+response["userimagename"]+'.jpg"     style="max-width:370px; min-width:300px;" >    ';


    document.getElementById("inserticon").style.visibility = "hidden";
    document.getElementById("myInput").style.display= "none";
    $("#galleryholder").empty();

    if(indexes.length==0){
    console.log('no face detected');
    indexes = [0,0,50,50];
    }



$("#allpeoplelist").empty();
$("#allpeoplelist").append("<ul id='myUL'></ul>");
$("#myUL").empty();
counter = 0;
for(var i in indexes) {
 var li = '<li  class="searchli" id="linearface"><img src="/static/nearface/'+indexes[i]["id"].toString() +'.png" style="width:100px; height:100px;"> <p class="pnearface">'+ indexes[i]["name"].toString() +'  ,   '+ indexes[i]["distance"].toString() +'</p>  </li>';
     <!--$('.pnearface').eq(i).text(indexes[i]["name"].toString() );-->
     <!--$('.pnearface').eq(i).css( "content", indexes[i]["name"].toString() );-->

<!--var x = document.getElementsByClassName("anchors")[0]-->

                         <!--var para = document.createElement("P");-->
                         <!--var t = document.createTextNode("This is a paragraph.");-->
                         <!--para.appendChild(t);-->
                         <!--document.body.appendChild(para);-->
                        <!--document.getElementById("linearface").appendChild(para);-->


    <!--var li = '<li  class="searchli" ><a href="#">'+indexes[i]+'</a></li>';-->

    $("#myUL").append(li);
    counter++;
    }

    });


}
<!--//////////////////////////////////////////////////////-->
<!--//////////////////////////////////////////////////////-->
<!--//////////////////////////////////////////////////////-->
<!--//////////////////////////////////////////////////////-->
<!--//////////////////////////////////////////////////////-->




































</script>
<!--webcam access-->
<!--https://github.com/jhuckaby/webcamjs-->
<script src="/static/webcam/webcam.js"></script>
<script language="JavaScript">
function opencamera(){

    Webcam.attach( '#cameraShow' );


}

 function take_snapshot() {
        Webcam.snap( function(data_uri) {
            document.getElementById('croppr').src= data_uri;
            document.getElementById('cameraPhoto').src= data_uri;
            <!--callCropper();-->
            document.getElementById("cameraPhoto").style.display= "block";





         $.ajax({
    type: "POST",
    url: "{{ url_for("get_post_json") }}",
    contentType: "application/json",
    data: JSON.stringify({hello: "world", hi : data_uri}),
    dataType: "json",
    success: function(response) {
        console.log(response);
    },
    error: function(err) {
        console.log(err);
    }
});
        } );
    }





























</script>
<script language="Javascript">

  function showCoords(c)
  {
        console.log( c.x, c.y, c.x2, c.y2, c.w, c.h);



var indexes = {
    x:   c.x.toString(),
    y: c.y.toString(),

    x2:   c.x2.toString(),
    y2: c.y2.toString(),
};




  $.ajax({
    type: "POST",
    url: "{{ url_for("get_post_json") }}",
    contentType: "application/json",
    data: JSON.stringify({hello: "world2", hi : indexes }),
    dataType: "json",
    success: function(response) {
        console.log(response);
    },
    error: function(err) {
        console.log(err);
    }
});




  };


































</script>

<!--image cropper-->
<!--http://deepliquid.com/content/Jcrop_Manual.html#Getting_Started-->
<script src="/static/to/js/jquery.min.js"></script>
<script src="/static/to/js/jquery.Jcrop.min.js"></script>
<link rel="stylesheet" href="/static/to/css/jquery.Jcrop.css" type="text/css"/>
<script language="Javascript">
var facecounter = 0;
var facelen= 0;
var indexes;

function callCropper(){
    document.getElementById("loadview").style.visibility = "visible";


console.log("photo is being created")
$.get("/getmethodyy", function(data) {
    indexes = $.parseJSON(data)
    console.log("this is indexes:", indexes)
    document.getElementById("detecticonsbtn").style.visibility = "visible";
    document.getElementById("detectstep1").style.visibility = "hidden";
    document.getElementById("loadview").style.visibility = "hidden";
    document.getElementById("detecticons").style.visibility = "hidden";
    document.getElementById("step2").classList.add('complete');
    document.getElementById("step2").classList.remove('disabled');

    facecounter = 0;
    facelen = indexes.length;
    console.log(facelen);

    if( facelen>1){
    console.log('im going to show next and back');
    document.getElementById("nextface").style.visibility = "visible";

    }

    jQuery(function($) {
        <!--croppView-->
        $('#croppr').Jcrop({
            onSelect: showCoords,
            bgColor:     'black',
            bgOpacity:   .4,
            <!--setSelect:   [3,4,111,222],-->
            setSelect:   indexes[0],
        });
    });

})
}

 function nextface(){
 facecounter += 1;
 console.log("this is facecounter",facecounter)

 if(facecounter<facelen && facelen!=1){
  document.getElementById("backface").style.visibility = "visible";

  jQuery(function($) {
        <!--croppView-->
        $('#croppr').Jcrop({
            onSelect: showCoords,
            bgColor:     'black',
            bgOpacity:   .4,
            setSelect:   indexes[facecounter],
        });
    });

 }
 if(facecounter==facelen-1){
  document.getElementById("nextface").style.visibility = "hidden";
 }

 }
 function backface(){
  facecounter -= 1;
 console.log("this is facecounter",facecounter)

 if(facecounter>-1){
  document.getElementById("nextface").style.visibility = "visible";

  jQuery(function($) {
        <!--croppView-->
        $('#croppr').Jcrop({
            onSelect: showCoords,
            bgColor:     'black',
            bgOpacity:   .4,
            setSelect:   indexes[facecounter],
        });
    });

 }
 if(facecounter==0){
  document.getElementById("backface").style.visibility = "hidden";
 }
}






function detectview(){
        document.getElementById('search view').style.visibility = 'hidden';
        document.getElementById('startagain').style.visibility = 'hidden';
        document.getElementById('userimagediv').style.visibility = 'hidden';
        document.getElementById('galleryholder').style.visibility = 'visible';
        document.getElementById('steps2').style.visibility = 'hidden';
        document.getElementById('steps').style.visibility = 'visible';
        document.getElementById('detecticons').style.visibility = 'visible';
        document.getElementById("myInput").style.display= "none";

        document.getElementById("searchstep").classList.remove('active');
    document.getElementById("detectstep").classList.add('active');
    document.getElementById("insertstep").classList.remove('active');


}
function insertview(){
        document.getElementById('search view').style.visibility = 'hidden';
        document.getElementById('galleryholder').style.visibility = 'visible';
        document.getElementById('steps2').style.visibility = 'visible';
        document.getElementById('steps').style.visibility = 'hidden';
        document.getElementById('detecticons').style.visibility = 'visible';
        document.getElementById("myInput").style.display= "none";

    document.getElementById("searchstep").classList.remove('active');
    document.getElementById("detectstep").classList.remove('active');
    document.getElementById("insertstep").classList.add('active');

}
function startagain(){
  document.getElementById("step2").classList.remove('complete');
  document.getElementById("step2").classList.add('disabled');
  document.getElementById("step3").classList.remove('complete');
  document.getElementById("step3").classList.add('disabled');
}























</script>
<script>
    function callInserter(){
        document.getElementById("loadview").style.visibility = "visible";

    var insertname = document.getElementById("inputname").value;
    console.log("input name is :", insertname)

         $.ajax({
    type: "POST",
    url: "{{ url_for("get_post_json") }}",
    contentType: "application/json",
    data: JSON.stringify({hello: "insertname", hi : insertname }),
    dataType: "json",
    success: function(response) {
        console.log(response);
    document.getElementById("inserticon").style.visibility = "visible";
    document.getElementById("loadview").style.visibility = "hidden";

    },
    error: function(err) {
        console.log(err);
    }
});



    }



























</script>
<script>
  const dialog = document.querySelector('.js-dialog')
  const openButton = document.querySelector('.js-open')
  const closeButton = document.querySelector('.js-close')

  openButton.addEventListener('click', () => {
  dialog.showModal();
    opencamera();

})

closeButton.addEventListener('click', () => {
  dialog.close();
      $("#cameraPhoto").empty();
  document.getElementById("cameraPhoto").style.display= "none";
  callCropper();


})



























</script>

<!--&lt;!&ndash; Bootstrap core JavaScript for menu &ndash;&gt;-->
<!--<script src="static/vendor/jquery/jquery.min.js"></script>-->
<!--<script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>-->


</body>
</html>