<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>محصولات</title>
      <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/vendor/css/business-casual.min.css" rel="stylesheet">

</head>
<body>


<div id="particles-js"
     style=" background: rgba(106,123,146, 1);  height:100vh; width:100%;  position: absolute; top: 0; bottom: 0; z-index:0;">
</div>
<!-- scripts for net background :) -->
<script src="static/netBackground/particles.js"></script>
<script src="static/netBackground/app.js"></script>



    <!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav" style="margin-top:30px;">
    <div class="container">
        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav mx-auto" dir="rtl">
                <li class="nav-item  px-lg-4">
                    <a class="nav-link text-uppercase text-expanded" href="index">خانه
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item px-lg-4">
                    <a class="nav-link text-uppercase text-expanded" href="detect">پردازش چهره</a>
                </li>
                <li class="nav-item  active px-lg-4">
                    <a class="nav-link  text-uppercase text-expanded" href="products">محصولات</a>
                </li>
                <li class="nav-item px-lg-4">
                    <a class="nav-link text-uppercase text-expanded" href="about">درباره ما</a>
                </li>

            </ul>
        </div>
    </div>
</nav>

</body>
</html>