<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>معرفی محصول</title>


    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<style>

    body{
 background: rgb(41, 54, 61);  }


        @font-face {
        font-family: "irannastaligh";
        src: url(/static/IranNastaliq-Web.ttf);
}
* {
     font-family: "irannastaligh";
            font-size: 20px;


}

</style>
</head>
<body>


<div id="particles-js"
     style=" background: rgb(41, 54, 61);  height:100vh; width:100%;  position: absolute; top: 0; bottom: 0; z-index:0;">
</div>
<!-- scripts for net background :) -->
<script src="static/netBackground/particles.js"></script>
<script src="static/netBackground/app.js"></script>


<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark py-lg-2 " id="mainNav"
     style="background-color:rgba(255, 255, 255,0.8); margin-top:30px;">
    <div class="container ">
        <div class="collapse navbar-collapse w3-display-middle" id="navbarResponsive">
            <ul class="navbar-nav mx-auto" dir="rtl" style="list-style-type:none;">
                <li class="nav-item  px-lg-4 active" style="float: right; padding: 16px;">
                    <a class="nav-link text-uppercase text-expanded" onmouseover="this.style.color='#6c757d';"
                       onmouseout="this.style.color='black';" style="color:black;    " href="index">خانه

                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item  px-lg-4" style="float: right;padding: 16px;">
                    <a class="nav-link text-uppercase text-expanded" onmouseover="this.style.color='#6c757d';"
                       onmouseout="this.style.color='black';" style="color:black;  " href="detect">پردازش
                        چهره</a>
                </li>
                <li class="nav-item px-lg-4" style="float: right;padding: 16px;">
                    <a class="nav-link text-uppercase text-expanded" onmouseover="this.style.color='#6c757d';"
                       onmouseout="this.style.color='black';" style="color:rgb(0, 51, 51); font-weight:bold;    "
                       href="products">معرفی محصول</a>
                </li>
                <li class="nav-item px-lg-4" style="float: right; padding: 16px;">
                    <a class="nav-link text-uppercase text-expanded"  onmouseover="this.style.color='#6c757d';"
                       onmouseout="this.style.color='black';"  style="color:black;   "  href="about">درباره
                        ما</a>
                </li>

            </ul>
        </div>
    </div>
</nav>

    <div class="w3-display-topmiddle w3-container w3-card  rounded " style="margin-top:100px; width:900px; position:absolute; background-color:rgba(255,255,255,0.7); padding:20px; z-index:2;">
            <div class="text-center">
                <h2 class="section-heading mb-4" >
                    <span class="section-heading-lower" style="font-size:35px;">سامانه تشخیص چهره</span>
                    <span class="section-heading-upper">مرکز آپا</span>
                </h2>
            </div>
            <div class="text-right">
                <p class="mb-3" style="    line-height: 1.8;">

                    سامانه تشخیص چهره مرکز آپا، یک نرمافزار نظارتی است که قادر است به طور خودکار مکان و هویت چهره‌های
                    انسان را در تصاویر دیجیتال تشخیص دهد. ترکیب منحصر به فردی از تحقیق در لبه دانش با خدمات توسعه
                    نرم‌افزار، این سیستم را به یکی از برترین سیستم‌های تشخیص چهره در کشور و قابل رقابت با محصولات خارجی
                    تبدیل کرده است. موتور این برنامه بومی بوده و به طور ویژه برای استفاده در کشور و منطقه جغرایایی
                    خاورمیانه آموزش دیده و تنظیم شده است.

                    این سیستم با کمک واسط‌های برنامه نویسی، قابلیت سفارشی‌سازی و اتصال به سایر سامانه‌های الکترونیک را
                    داراست. سامانه تشخیص چهره می‌تواند روی دوربین‌های سیمی و بی‌سیم، وبکم، تلویزیون، و .. کار کند و
                    همچنین قابلیت نصب روی رایانه، لپتاپ یا گوشی هوشمند را دارد.

                    ویژگی‌ها:

                </p>
                <Ul dir="rtl">
                    <li>افزودن، حذف و ویرایش آنی تصاویر اشخاص</li>
                    <li>قابلیت اتصال به ویدئو و دوربین</li>
                    <li>شناسایی آنی هویت فرد در بانک اطلاعاتی</li>
                    <li>امکان ارتباط و تجمیع با سایر سامانه‌ها</li>
                    <li>تعیین موقعیت فرد در دوربین</li>
                    <li>امکان اجرای پرازش به صورت تکی و دسته‌ای</li>
                    <li>توانایی شناسایی چهره در دوربین‌های دید در شب</li>
                    <li>استفاده از قوی‌ترین مدل‌های یادگیری عمیق و آموزش داده‌شده برای چهره‌های ایرانی</li>

                </Ul>

            </div>
        </div>


</body>
</html>