<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>معرفی محصول</title>
    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/vendor/css/business-casual.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<body>


<div id="particles-js"
     style=" background: rgba(106,123,146, 1);  height:100vh; width:100%;  position: absolute; top: 0; bottom: 0; z-index:0;">
</div>
<!-- scripts for net background :) -->
<script src="static/netBackground/particles.js"></script>
<script src="static/netBackground/app.js"></script>


<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark py-lg-2" id="mainNav" style="margin-top:30px;">
    <div class="container">
        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav mx-auto" dir="rtl">
                <li class="nav-item  px-lg-4">
                    <a class="nav-link text-uppercase text-expanded" href="index">خانه
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item px-lg-4">
                    <a class="nav-link text-uppercase text-expanded" href="detect">پردازش چهره</a>
                </li>
                <li class="nav-item  active px-lg-4">
                    <a class="nav-link  text-uppercase text-expanded" href="products">معرفی محصول</a>
                </li>
                <li class="nav-item  px-lg-4">
                    <a class="nav-link  text-uppercase text-expanded" href="about">درباره ما</a>
                </li>

            </ul>
        </div>
    </div>
</nav>


<section class="page-section cta" style="margin-top:-30px;">
    <div class="col-xl-9 mx-auto">
        <div class="cta-inner rounded">
            <div class="text-center">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-lower">سامانه تشخیص چهره</span>
                    <span class="section-heading-upper">مرکز آپا</span>
                </h2>
            </div>
            <div class="text-right">
                <p class="mb-0">

                    سامانه تشخیص چهره مرکز آپا، یک نرمافزار نظارتی است که قادر است به طور خودکار مکان و هویت چهره‌های
                    انسان را در تصاویر دیجیتال تشخیص دهد. ترکیب منحصر به فردی از تحقیق در لبه دانش با خدمات توسعه
                    نرم‌افزار، این سیستم را به یکی از برترین سیستم‌های تشخیص چهره در کشور و قابل رقابت با محصولات خارجی
                    تبدیل کرده است. موتور این برنامه بومی بوده و به طور ویژه برای استفاده در کشور و منطقه جغرایایی
                    خاورمیانه آموزش دیده و تنظیم شده است.

                    این سیستم با کمک واسط‌های برنامه نویسی، قابلیت سفارشی‌سازی و اتصال به سایر سامانه‌های الکترونیک را
                    داراست. سامانه تشخیص چهره می‌تواند روی دوربین‌های سیمی و بی‌سیم، وبکم، تلویزیون، و .. کار کند و
                    همچنین قابلیت نصب روی رایانه، لپتاپ یا گوشی هوشمند را دارد.

                    ویژگی‌ها:

                </p>
                <Ul dir="rtl">
                    <li>افزودن، حذف و ویرایش آنی تصاویر اشخاص</li>
                    <li>قابلیت اتصال به ویدئو و دوربین</li>
                    <li>شناسایی آنی هویت فرد در بانک اطلاعاتی</li>
                    <li>امکان ارتباط و تجمیع با سایر سامانه‌ها</li>
                    <li>تعیین موقعیت فرد در دوربین</li>
                    <li>امکان اجرای پرازش به صورت تکی و دسته‌ای</li>
                    <li>توانایی شناسایی چهره در دوربین‌های دید در شب</li>
                    <li>استفاده از قوی‌ترین مدل‌های یادگیری عمیق و آموزش داده‌شده برای چهره‌های ایرانی</li>

                </Ul>

            </div>
        </div>
    </div>
</section>

<!-- Bootstrap core JavaScript for menu -->
<script src="static/vendor/jquery/jquery.min.js"></script>
<script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
</html>